<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<!-- 系统程序日志配置 -->
	<!-- 将日志打印到控制台 -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- 将日志打印到文件 -->
	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/sdcard/mpoint/logs/mp.log</File>
        <append>true</append>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>

        <!-- 路径：../logs/fandy/andy.log  时间：{yyyy-MM-dd-HH}，以小时分隔  -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/sdcard/mpoint/logs/mp.log.%d{yyyy-MM-dd}
			</fileNamePattern>
		</rollingPolicy>
	</appender>
	
	<logger name="MapPoint" level="DEBUG">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</logger>
	
	<root level="DEBUG"> <!-- 日志级别 -->
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="fileAppender" />
	</root>

</configuration>