<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ccb.mp"
          android:versionCode="1"
          android:versionName="1.0">

    <!--
        minSdkVersion与maxSdkVersion比较容易理解，就是在安装程序的时候，
        如果目标设备的API版本小于minSdkVersion，或者大于maxSdkVersion，程序将无法安装。
        一般来说没有必要设置maxSdkVersion。
    -->
    <uses-sdk android:minSdkVersion="8"
              android:targetSdkVersion="12"
              android:maxSdkVersion="19"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application android:name="com.ccb.mp.app.App"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Light.NoTitleBar">

        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="5w6RGIkqmr767Lv7f1UVboYr" />

        <activity android:name=".StartActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.main.MainActivity" />
        <activity android:name=".activity.map.BNavigatorActivity" />
        <activity android:name=".activity.map.BDRoutePlan" />
        <activity android:name=".activity.oper_loc.AddLocationActivity" />
        <activity android:name=".activity.oper_loc.EditLocationActivity" />
        <activity android:name=".activity.oper_loc.EditLocationsActivity" />
        <activity android:name=".activity.map.NavigatorConfigActivity" />
        <activity android:name=".activity.oper_loc.ChoCmnTypeDialogActivity"
                  android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
                  android:alwaysRetainTaskState="true"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait" />
        <activity android:name=".activity.poi.SearchDialogActivity" />
        <activity android:name=".activity.me.MeActivity" />
        <activity android:name=".activity.me.ExitDialogActivity"
                  android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar"
                  android:alwaysRetainTaskState="true"
                  android:configChanges="keyboardHidden|orientation"
                  android:screenOrientation="portrait" />
        <activity android:name=".activity.me.ResetMapPointActivity" />

        <!--begin 百度地图导航 -->
        <activity
                android:name=".activity.map.BDRoutePlan"
                android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
                android:label="@string/title_route_guide_demo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.BAIDUNAVISDK_DEMO" />
            </intent-filter>
        </activity>

        <activity
                android:name=".activity.map.BNavigatorActivity"
                android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <!--end 百度地图导航 -->

        <service
                android:enabled="true"
                android:name="com.baidu.location.f"
                android:process=":remote" />

        <service android:name="com.baidu.navi.location.f"
                 android:enabled="true"/>

    </application>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="false"
            android:resizeable="true"
            android:smallScreens="true" />
</manifest>
